.about {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &.open {
    & > img {
      top: 3vh;
    }

    & > .title {
      top: 10vh;
    }

    & > .desc {
      top: 10vh;
    }

    & > .author {
      top: 55vh;
    }
  }

  img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: 0.7s ease;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.7s ease;
  }

  .title {
    position: absolute;
    color: white;
    font-size: 130px;
    font-weight: 700;
    rotate: 90deg;
    height: fit-content;
    width: fit-content;
    margin: auto;
    bottom: 0;
    top: 0;
    transition: 0.7s ease;

    &.abt {
      left: -16vh;
    }

    &.twomass {
      left: -17vh;
    }
  }

  .desc {
    position: absolute;
    color: white;
    font-size: 30px;
    width: 40vw;
    height: fit-content;
    text-align: justify;
    top: -10vh;
    bottom: 0;
    margin: auto;
    line-height: 45px;
    left: 15vw;
    transition: 0.7s ease;
  }

  .author {
    position: absolute;
    color: white;
    font-size: 20px;
    height: fit-content;
    display: flex;
    top: 40vh;
    bottom: 0;
    margin: auto;
    right: 15vw;
    transition: 0.7s ease;
  }
}
