.about {
  position: absolute;
  width: 100vw;
  height: 100vh;

  &.open {
    & > img {
      top: 3vh;
    }

    & > .title {
      top: 10vh;
    }

    & > .desc {
      top: 10vh;
    }

    & > .author {
      top: 55vh;
    }
  }

  img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transition: 0.7s ease;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.7s ease;

    &.fermi {
      filter: brightness(0.5);
    }

    &.iras {
      filter: brightness(0.3);
    }
  }

  .title {
    position: absolute;
    color: white;
    font-size: 130px;
    font-weight: 700;
    rotate: 90deg;
    height: fit-content;
    width: fit-content;
    margin: auto;
    bottom: 0;
    top: 0;
    transition: 0.7s ease;

    &.abt {
      left: -145px;
    }

    &.twomass {
      left: -155px;
    }

    &.fermi {
      left: -137px;
    }

    &.iras {
      left: -74px;
    }

    &.uc {
      font-size: 100px;
      left: -316px;
    }
  }

  .desc {
    position: absolute;
    color: white;
    font-size: 30px;
    width: 40vw;
    height: fit-content;
    text-align: justify;
    top: -10vh;
    bottom: 0;
    margin: auto;
    line-height: 45px;
    left: 15vw;
    transition: 0.7s ease;

    &.desc-twomass,
    &.desc-fermi,
    &.desc-iras {
      left: 0;
      right: 0;
      top: -12vh;
    }

    &.desc-uc {
      left: 0;
      right: 0;
      text-align: center;
      font-weight: 700;
      font-size: 45px;
    }
  }

  .author {
    position: absolute;
    color: white;
    font-size: 20px;
    height: fit-content;
    display: flex;
    top: 40vh;
    bottom: 0;
    margin: auto;
    right: 15vw;
    transition: 0.7s ease;
  }

  .exploreBtn {
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 30px;
    border: 1px white solid;
    transition: 0.7s ease;
    right: 30vw;
    top: 65vh;

    &:hover {
      background-color: white;
      color: #1c2e64;
    }
  }
}
